# --- Framework ---
Django==5.0.6
djangorestframework==3.15.2

# --- Autenticação ---
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1

# --- Documentação ---
drf-spectacular==0.27.1

# --- Banco de dados ---
psycopg2-binary==2.9.9
django-environ==0.11.2

# --- Segurança ---
cryptography==42.0.5

# --- Testes ---
pytest==8.2.2
pytest-django==4.8.0
factory-boy==3.3.0
coverage==7.5.1
pytest-cov==5.0.0

# --- Utilidades ---
django-filter==24.2
Pillow==10.3.0

# --- Monitoramento e Debug ---
django-debug-toolbar==4.3.0
whitenoise==6.6.0
sentry-sdk==2.1.1

# --- Performance ---
redis==5.0.4
django-redis==5.4.0
celery==5.3.6

# --- HTTP ---
httpx==0.27.0

# --- Qualidade de Código ---
black==24.4.2
flake8==7.0.0
isort==5.13.2
pre-commit==3.7.1
